# My Jupyter Notebook on IBM Watson Studio

<b>Name: Prateek Sharma</b>

Profession: Sr. Business Analyst

<i>I'm interested in Data Science because to study the behavior of data is remarkable in every sense, this approach to analyze the data for making informative decisions in any type of industry is very helpful. I've been working in Technology sector from past 6 years and I have seen the relevance of data in making useful features in software products to increase revenue and growth.</i> 
    
<i>Apart from commercial utility, DS also plays a key role in the field of Healthcare to create effective medicines and cures. I strongly believe that the DS is a stepping stone to move forward in Industrial Revolution 4.0 to advance new technologies like AI, Blockchain & Robotics. Therefore, its obvious to say that there are endless opportunities in career after mastering the DS study to start exploring the world of data because data is everywhere ...</i> 
    
<i>On that positive note, I wish my fellow students Good Luck!! May you achieve your desired goals after completing this Certification to explore this deep ocean of data.</i>
    
<i>Thanks & Regards,</i>

<i>Prateek Sharma</i>

### Below the code represents the function to add two integers (1+1):

In [4]:
1 + 1

2

<b>1. Horizontal Rule in HTML.</b>

To make a horizontal line in HTML, use the < hr > element. We can also place the < hr > element — which stands for “horizontal rule” — wherever we want to create a horizontal line across a web page.

<hr>

<b>2. How to make Bulleted List in HTML?</b>

HTML lists allow web developers to group a set of related items in lists. There are various types of lists have been used in HTML however there're mainly 2 types of lists have been used frequently:

<ul>
    <li>Ordered Lists</li>
    <li>Unordered Lists</li>
</ul>

<b>Ordered List:</b> An ordered list also known as "Numbered List" starts with the < ol > tag. Each list item starts with the < li > tag. By putting < ol >, the list items will be marked with numbers by default.

Example:
The first 4 months of any year comes in this order:
 <ol>
  <li>January</li>
  <li>February</li>
  <li>March</li>
  <li>April</li>
</ol> 

<b>Unordered List:</b> An unordered list also known as "Bulleted List" starts with the < ul > tag. Each list item starts with the < li > tag. By putting < ul >, the list items will be marked with bullets (small black circles) by default.

Example:
The 3 main products of Apple are:
 <ul>
  <li>Macbook</li>
  <li>iPad</li>
  <li>iPhone</li>
</ul> 

<hr>

<b>3. Tables in HTML.</b>

A table in HTML consists of table cells inside rows and columns. Where, following are the main attributes of table:

<dl>
  <dt>td tag</dt>
  <dd>- Each table cell is defined by a < td > and a < /td > tag</dd>
  <dd>- And, td stands for table data</dd>
</dl>
    
<dl>  
  <dt>tr tag</dt>
  <dd>- Each table row starts with a < tr > and ends with a < /tr > tag.</dd>
  <dd>- And, tr stands for table row</dd>
</dl>   

<dl>
  <dt>th tags</dt>
  <dd>- Sometimes we want our cells to be table header cells. In those cases we use the < th > tag instead of the < td > tag.</dd>
  <dd>- And, th stands for table header. By default, the text in < th > elements are bold and centered, but yowe can change that with CSS. </dd>
</dl>

Example:
Create an employee table with Employee ID, Name, Age & Gender and create 3 sample records in this table:
      
<table>
  <tr>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
  </tr>
  <tr>
    <td>123</td>
    <td>John</td>
    <td>32</td>
    <td>Male</td>
  </tr>
  <tr>
    <td>124</td>
    <td>Steve</td>
    <td>25</td>
    <td>Male</td>
  </tr>
  <tr>
    <td>125</td>
    <td>Maria</td>
    <td>30</td>
    <td>Female</td>
</table> 
    
<hr>